{"openapi":"3.0.0","info":{"title":"GMO Nachhilfebörse API","version":"v1.0.1","description":"This is the documentation of the Nachhilfebörse API","contact":{"email":"schule@j-plis.de"}},"servers":[{"url":"https://rpl-51485-0.dn.mnsnet.de/nachhilfeboerse/api/"},{"url":"http://localhost/nachhilfeboerse/api/"}],"tags":[{"name":"user","description":"Management of the user data"},{"name":"offers","description":"Manage the give and take offers"},{"name":"subjects","description":"Manage the subjects"},{"name":"admin","description":"Do admin things"}],"components":{"schemas":{"username":{"type":"string","example":"Max Mustermann"},"UserDetails":{"$ref":"components/schemas/UserDetails.yaml"},"GiveOffer":{"$ref":"components/schemas/GiveOffer.yaml"},"TakeOffer":{"$ref":"components/schemas/TakeOffer.yaml"},"Times":{"$ref":"components/schemas/Times.yaml"},"ImportUserResponse":{"$ref":"components/schemas/ImportUser.yaml"}},"responses":{"InternalServerError":{"$ref":"components/responses/InternalServerError.yaml"},"InvalidInput":{"$ref":"components/responses/InvalidInput.yaml"},"Unauthorized":{"$ref":"components/responses/Unauthorized.yaml"},"Forbidden":{"$ref":"components/responses/Forbidden.yaml"}},"securitySchemes":{"userLoggedIn":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"You can get the token by requesting to \"[/user/login](#/user/login)\""},"adminLoggedIn":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"It's the token you get when you log in, but you only have admin permissions, <br> if you are marked as admin in the database!"}}},"paths":{"/user/login":{"post":{"tags":["user"],"summary":"Get a token to login","description":"Get a JWT token used to authenticate to the API","operationId":"login","requestBody":{"description":"Provide username and password to login","content":{"application/json":{"schema":{"properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"password":{"type":"string","format":"password","pattern":"((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).*)","minLength":8,"maxLength":256,"example":"MySuperSavePassword4MyUseraccount!","description":"Needs to contain at least <br> - 1 lowercase character  <br> - 1 uppercase character <br> - 1 digit <br> - 1 special character"}}}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Authentication successful."},"userDetails":{"type":"object","$ref":"#/components/schemas/UserDetails"},"token":{"type":"string","format":"token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"description":"Username or password incorrect","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","default":"Username or password incorrect."}}}}}},"404":{"description":"Username does not exist","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","default":"Username does not exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/admin/changeAdminState":{"post":{"tags":["admin"],"summary":"Change admin state","description":"Make a user an admin or remove ones permissions","operationId":"changeAdminState","requestBody":{"description":"Provide the username and the new admin state of the user","content":{"application/json":{"schema":{"properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"adminState":{"type":"boolean","example":true}}}}},"required":true},"responses":{"200":{"description":"Successfully updated adminstate","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully updated"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"adminState":{"type":"boolean","example":true}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adminLoggedIn":[]}]}},"/admin/clearOffers":{"delete":{"tags":["admin"],"summary":"Deletes <strong>ALL</strong> GiveOffers, TakeOffers and Matchings","description":"Deletes ALL GiveOffers, TakeOffers and Matchings <br> \n<h3>USE IT CAREFULLY</h3> <br> \nNote: The data will be written into the Tables GiveLessonsOld, TakeLessonsOld, MatchesOld\n","operationId":"delAllOffers","responses":{"200":{"description":"Succesfully deleted offer","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully cleared"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adminLoggedIn":[]}]}},"/admin/match":{"get":{"tags":["admin"],"summary":"Get the matchings","description":"Get all the matched and unmatched take offers","operationId":"getMatches","responses":{"200":{"description":"Successfully got matchings","content":{"application/json":{"schema":{"properties":{"matches":{"type":"array","items":{"type":"object","properties":{"P1Username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmia00","minLength":5,"maxLength":32},"P1Name":{"type":"string","pattern":"\\s[^ ]","example":"Mia Mustermann"},"P1Class":{"type":"string","minLength":1,"maxLength":10,"example":"5a"},"Subject":{"type":"string","example":"DE"},"Time":{"type":"string","example":"Mi07"},"P2Username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"P2Name":{"type":"string","pattern":"\\s[^ ]","example":"Max Mustermann"},"P2Class":{"type":"string","minLength":1,"maxLength":10,"example":"5a"}}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"description":"No user data found","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","example":"No data exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adminLoggedIn":[]}]},"post":{"tags":["admin"],"summary":"Start the matching process","description":"Start the matching process <br>\nYou will not receive any error messages from the matching algorithm or\nif the program fails to write the output into the database. <br>\nThese Errors will only be logged in the logs of the api server. <br><br>\n<strong> NOTE: The Matches table in the database is getting cleared while matching.\n Old matches will be deleted to backup them if you want to keep them</strong>\n","operationId":"startMatch","requestBody":{"description":"Provide the username and the new admin state of the user","content":{"application/json":{"schema":{"properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"adminState":{"type":"boolean","example":true}}}}},"required":true},"responses":{"200":{"description":"Successfully updated adminstate","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Matching started"},"convertedTakeOffers":{"type":"array","items":{"type":"object"}},"convertedGiveOffers":{"type":"array","items":{"type":"object"}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adminLoggedIn":[]}]}},"/admin/getStartPasswords":{"get":{"tags":["admin"],"summary":"Get the start passwords","description":"Get the start password from all users","operationId":"getStartPasswords","responses":{"200":{"description":"Successfully got passwords","content":{"application/json":{"schema":{"properties":{"startPasswords":{"type":"object","example":{"5a":{"Benedikt":"ajsod,-opaskdoaskd","Klaus":"sdjfoincvnyxj.,-vpsadjospo"},"5b":{"Annette":"asdmaopsmopcpsdoüasdmx","Luisa":"sdmiopxcvpnniwein9q238"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"description":"No user data found","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","example":"No data exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adminLoggedIn":[]}]}},"/admin/import":{"post":{"tags":["admin"],"summary":"Import new users","description":"Insert an array of new users to get imported","operationId":"importUsers","requestBody":{"description":"Provide username and classname to import","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"class_name":{"type":"string","minLength":1,"maxLength":10,"example":"5a"}}}}}},"required":true},"responses":{"201":{"description":"<strong> SOME </strong> users were imported, this does <strong> NOT </strong> mean, that all users were imported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportUserResponse"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"500":{"description":"No user was imported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportUserResponse"}}}}},"security":[{"adminLoggedIn":[]}]}},"/offers/give":{"post":{"tags":["offers"],"summary":"Add a give offer","description":"Add a new give offer","operationId":"addGiveOffer","requestBody":{"description":"Data needed for creating an offer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiveOffer"}}},"required":true},"responses":{"200":{"description":"Successfully created the offer","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully inserted"},"details":{"$ref":"#/components/schemas/GiveOffer"}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]},"delete":{"tags":["offers"],"summary":"Delete a give offer","description":"Delete a give offer by id","operationId":"delGiveOffer","requestBody":{"description":"Provide an id to delete the offer","content":{"application/json":{"schema":{"properties":{"id":{"type":"integer","minimum":0,"example":542}}}}},"required":true},"responses":{"200":{"description":"Succesfully deleted offer","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully deleted"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"id":{"type":"integer","minimum":0,"example":542}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]},"get":{"tags":["offers"],"summary":"Get the GiveOffers","description":"Get all give offers from the loggged in user with the name, email, and phonenumber of the matched opponent","operationId":"getGiveOffer","responses":{"200":{"description":"Succesfully got offer","content":{"application/json":{"schema":{"properties":{"offers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"example":542},"matched":{"type":"boolean","example":true},"subject":{"type":"string","maxLength":5,"example":"DE"},"times":{"$ref":"#/components/schemas/Times"},"minClass":{"type":"integer","minimum":1,"maximum":13,"example":6},"maxClass":{"type":"integer","minimum":1,"maximum":13,"example":11,"description":"Must be greater than minClass"},"name":{"type":"string","pattern":"\\s[^ ]","example":"Max Mustermann"},"email":{"type":"string","format":"email","example":"max.mustermann@email.tld"},"phonenumber":{"type":"string","example":"+49 0000 0000000"}}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/offers/take":{"post":{"tags":["offers"],"summary":"Add a take offer","description":"Add a new take offer","operationId":"addTakeOffer","requestBody":{"description":"Data needed for creating an offer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TakeOffer"}}},"required":true},"responses":{"200":{"description":"Successfully created the offer","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully inserted"},"details":{"$ref":"#/components/schemas/TakeOffer"}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]},"delete":{"tags":["offers"],"summary":"Delete a take offer","description":"Delete a take offer by id","operationId":"delTakeOffer","requestBody":{"description":"Provide an id to delete the offer","content":{"application/json":{"schema":{"properties":{"id":{"type":"integer","minimum":0,"example":542}}}}},"required":true},"responses":{"200":{"description":"Succesfully deleted offer","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully deleted"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"id":{"type":"integer","minimum":0,"example":542}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]},"get":{"tags":["offers"],"summary":"Get the TakeOffers","description":"Get all take offers from the loggged in user with the name, email, and phonenumber of the matched opponent","operationId":"getTakeOffer","responses":{"200":{"description":"Succesfully got offer","content":{"application/json":{"schema":{"properties":{"offers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","minimum":0,"example":542},"matched":{"type":"boolean","example":true},"subject":{"type":"string","maxLength":5,"example":"DE"},"times":{"$ref":"#/components/schemas/Times"},"name":{"type":"string","pattern":"\\s[^ ]","example":"Max Mustermann"},"email":{"type":"string","format":"email","example":"max.mustermann@email.tld"},"phonenumber":{"type":"string","example":"+49 0000 0000000"}}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/subjects":{"get":{"tags":["subjects"],"summary":"Get all subjects","description":"Get all subjects","operationId":"get_subjects","responses":{"200":{"description":"Successfully got subjects","content":{"application/json":{"schema":{"properties":{"subjects":{"type":"object","example":{"DE":"Deutsch","EN":"Englisch"}}}}}}},"404":{"description":"No user data found","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","example":"No data exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/user/changePassword":{"post":{"tags":["user"],"summary":"Change password","description":"Change the password of the current user","operationId":"changePassword","requestBody":{"description":"Provide old and new password to change the password","content":{"application/json":{"schema":{"properties":{"oldPassword":{"type":"string","format":"password","pattern":"((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).*)","minLength":8,"maxLength":256,"example":"MySuperSavePassword4MyUseraccount!","description":"Needs to contain at least <br> - 1 lowercase character  <br> - 1 uppercase character <br> - 1 digit <br> - 1 special character"},"newPassword":{"type":"string","format":"password","pattern":"((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W]).*)","minLength":8,"maxLength":256,"example":"MySuperSavePassword4MyUseraccount!","description":"Needs to contain at least <br>\n- 1 lowercase character  <br>\n- 1 uppercase character <br>\n- 1 digit <br>\n- 1 special character <br><br>\n Must be different from oldPassword\n"}}}}},"required":true},"responses":{"200":{"description":"Successfully changed password","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully changed password"},"details":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserDetails"}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"description":"Password incorrect","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","default":"Old password incorrect."}}}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","default":"Username does not exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/user":{"get":{"tags":["user"],"summary":"Get the own user data","description":"Get the username, name, email and phonenumber of the logged in user","operationId":"get_user","responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"properties":{"username":{"type":"string","example":"mustermax00"},"name":{"type":"string","example":"Max Mustermann"},"email":{"type":"string","format":"email","example":"max.mustermann@email.tld"},"phonenumber":{"type":"string","example":"+49 0000 0000000"}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"No user data found","content":{"application/json":{"schema":{"properties":{"error":{"type":"string","example":"No data exists!"}}}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/user/email":{"put":{"tags":["user"],"summary":"Update Email","description":"Change the email of the current user","operationId":"updateEmail","requestBody":{"description":"Provide new email to change the old one","content":{"application/json":{"schema":{"properties":{"email":{"type":"string","format":"email","example":"max.mustermann@email.tld"}}}}},"required":true},"responses":{"200":{"description":"Successfully updated email","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully updated"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"email":{"type":"string","format":"email","example":"max.mustermann@email.tld"}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/user/name":{"put":{"tags":["user"],"summary":"Update name","description":"Change the name of the current user","operationId":"updateName","requestBody":{"description":"Provide new name to change the old one","content":{"application/json":{"schema":{"properties":{"name":{"type":"string","pattern":"\\s[^ ]","example":"Max Mustermann"}}}}},"required":true},"responses":{"200":{"description":"Successfully updated name","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully updated"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"name":{"type":"string","pattern":"\\s[^ ]","example":"Max Mustermann"}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}},"/user/phonenumber":{"put":{"tags":["user"],"summary":"Update phonenumber","description":"Change the phonenumber of the current user","operationId":"updatePhonenumber","requestBody":{"description":"Provide new phonenumber to change the old one","content":{"application/json":{"schema":{"properties":{"phonenumber":{"type":"string","example":"+49 0000 0000000"}}}}},"required":true},"responses":{"200":{"description":"Successfully updated email","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","default":"Succesfully updated"},"details":{"type":"object","properties":{"username":{"type":"string","pattern":"^[a-zA-Z0-9]+$","example":"mustmax00","minLength":5,"maxLength":32},"phonenumber":{"type":"string","example":"+49 0000 0000000"}}}}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"userLoggedIn":[]}]}}}}